html {
  height: 100%;
  min-height: 480px;
}
html body {
  height: 100%;
  margin: 0;
  overflow: scroll;
  font-family: Helvetica;
  background: #303030;
  font-size: 16px;
}
a {
  text-decoration: none;
  color: #80c0ff;
}
a:hover {
  color: #40a0ff;
}
header {
  position: fixed;
  min-width: 960px;
  width: 100%;
  padding: 8px;
  background: #404040;
  border-bottom: 1px solid #303030;
  /*box-shadow: 0 0 16px rgba(0, 0, 0, .5);
  -moz-box-shadow: 0 0 16px rgba(0, 0, 0, .5);
  -webkit-box-shadow: 0 0 16px rgba(0, 0, 0, .5);*/

  white-space: nowrap;
  page-break-after: avoid;
  page-break-before: avoid;
  z-index: 101;
}
header > input,
header select {
  background: #303030;
  border: none;
  font-size: 16px;
  color: #eee;
  padding: 4px 8px;
  height: 24px;
  margin: 0;
  vertical-align: text-top;
}
header > input:hover,
header select:hover {
  background: #383838;
  color: #fff;
}
header .button {
  width: 32px;
  height: 32px;
  cursor: pointer;
  display: inline-block;
  vertical-align: text-top;
  background: url('../img/icons.png') no-repeat 0 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
header .button#go {
  margin-right: 64px;
  background-position: -33px 0;
}
header .button#go:hover {
  background-color: #505050;
}
header .button#fullscreen {
  background-position: -99px 0;
}
header .button#fullscreen:hover {
  background-color: #505050;
}
header .button#swap {
  background-position: 0 0;
}
header .button#swap:hover {
  background-color: #505050;
}
header .button#presets {
  background-position: -66px 0;
}
header .button#presets:hover {
  background-color: #505050;
}
header select {
  height: 30px;
}
header #url {
  width: 384px;
}
header #width,
header #height {
  width: 48px;
  text-align: center;
}
header > div.panel {
  position: absolute;
  top: 8px;
  right: 24px;
  font-size: 0;
}
header > div.panel > div,
header > div.panel > a {
  display: inline-block;
  width: 32px;
  height: 32px;
  background: url('../img/icons.png') no-repeat;
  cursor: pointer;
}
header > div.panel > div#info {
  margin-right: 24px;
  background-position: -132px -66px;
}
header > div.panel > div#info:hover {
  background-color: #505050;
}
header > div.panel > a.git {
  background-position: -99px -66px;
}
header > div.panel > a.git:hover {
  background-position: -99px -99px;
}
header > div.panel > div.share.facebook {
  background-position: -33px -66px;
}
header > div.panel > div.share.facebook:hover {
  background-position: -33px -99px;
}
header > div.panel > div.share.twitter {
  background-position: -66px -66px;
}
header > div.panel > div.share.twitter:hover {
  background-position: -66px -99px;
}
header > div.panel > div.share.googleplus {
  background-position: 0 -66px;
}
header > div.panel > div.share.googleplus:hover {
  background-position: 0 -99px;
}
#frame {
  width: 320px;
  height: 480px;
  position: relative;
  top: 49px;
  float: left;
  background: url('../img/loading32.gif') #404040 no-repeat center center;
  padding: 8px 10px 10px 8px;
  /*box-shadow: 0 0 16px rgba(0, 0, 0, .5);
  -moz-box-shadow: 0 0 16px rgba(0, 0, 0, .5);
  -webkit-box-shadow: 0 0 16px rgba(0, 0, 0, .5);*/

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#frame > div.scaleRight {
  position: absolute;
  top: 24px;
  right: 0;
  bottom: 24px;
  width: 8px;
  height: auto;
  border-top: 1px solid #303030;
  border-bottom: 1px solid #303030;
  cursor: col-resize;
  background: #404040;
}
#frame > div.scaleRight:hover,
#frame > div.scaleRight.active {
  background: #505050;
}
#frame > div.scaleBottom {
  position: absolute;
  right: 24px;
  bottom: 0;
  left: 24px;
  width: auto;
  height: 8px;
  border-right: 1px solid #303030;
  border-left: 1px solid #303030;
  cursor: row-resize;
  background: #404040;
}
#frame > div.scaleBottom:hover,
#frame > div.scaleBottom.active {
  background: #505050;
}
#frame > div.scaleCorner {
  position: absolute;
  bottom: 0;
  right: 0;
  cursor: nwse-resize;
  background: #404040;
}
#frame > div.scaleCorner.right {
  width: 8px;
  height: 24px;
}
#frame > div.scaleCorner.bottom {
  right: 8px;
  width: 16px;
  height: 8px;
}
#frame > div.scaleCorner.hover,
#frame > div.scaleCorner.active {
  background: #505050;
}
#frame > div.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
}
#frame > iframe {
  background: #fff;
  border: 1px solid #303030;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#modal {
  display: none;
  opacity: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 201;
}
#modal > div.close {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  cursor: pointer;
  background: rgba(64, 64, 64, 0.92);
}
#modal > div.container {
  position: absolute;
  width: 960px;
  height: 630px;
  left: 50%;
  top: 50%;
  margin: -315px 0 0 -488px;
  background: #404040;
  padding: 8px;
  color: #ccc;
  overflow: hidden;
  display: none;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 16px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 16px rgba(0, 0, 0, 0.5);
  border: 1px solid #303030;
}
#modal > div.container.info {
  width: 370px;
  height: 522px;
  margin: -269px 0 0 -193px;
}
#modal > div.container.info > h1 {
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 0;
  font-size: 30px;
  line-height: 32px;
  color: #fff;
}
#modal > div.container.info > h1 > span.a {
  font-weight: 100;
  color: #ccc;
}
#modal > div.container.info > h1 > span.b {
  font-weight: 100;
  font-size: 24px;
  line-height: 18px;
  display: block;
  color: #666;
}
#modal > div.container.info > h2 {
  margin: 24px 0 4px;
  font-weight: 100;
  text-transform: uppercase;
  font-size: 22px;
  line-height: 22px;
  color: #fff;
}
#modal > div.container.info > h3 {
  margin: 24px 0 4px;
  font-weight: 100;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 18px;
  color: #fff;
}
#modal > div.container.info > ul {
  margin: 0;
  padding: 0 0 0 18px;
}
#modal > div.container.info > ul.contacts {
  font-size: 12px;
}
#modal > div.container.info > ul.contacts > li {
  line-height: 14px;
}
#modal > div.container.info > ul > li {
  font-weight: 100;
  line-height: 18px;
}
#modal > div.container.info > ul > li > a {
  font-size: 12px;
}
#modal > div.container.info p {
  margin: 8px 0;
  font-weight: 100;
  line-height: 18px;
}
#modal > div.container.info p > span {
  color: #fff;
}
#modal > div.container.info > div.html5 {
  position: absolute;
  right: 4px;
  bottom: 8px;
  width: 32px;
  height: 32px;
  background: url('../img/icons.png') no-repeat -132px 0;
}
#modal > div.container.presets > div.resolutions {
  position: relative;
  width: 960px;
  height: 600px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#modal > div.container.presets > div.resolutions > div {
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
  background: #404040;
  outline: 1px solid #000;
}
#modal > div.container.presets > div.resolutions > div:hover {
  background: #505050;
  border: 1px solid #fff;
  padding: 1px;
  outline: none;
  margin: -2px 0 0 -2px;
}
#modal > div.container.presets > div.resolutions > div:hover > div {
  color: #fff;
  margin: 0 1px 1px 0;
}
#modal > div.container.presets > div.resolutions > div > div {
  font-size: 12px;
  position: absolute;
  right: 4px;
  bottom: 2px;
  text-align: right;
}
#modal > div.container.presets > div.resolutions > div > div > div {
  font-size: 10px;
  font-weight: normal;
}
#modal > div.container.presets > h2 {
  padding: 0;
  margin: 8px 0 0;
  height: 24px;
  line-height: 24px;
  font-weight: normal;
}
#modal > div.container.presets > h2 > span {
  float: right;
}
